.site-hero {
    .container {
        @include desktop-lg{
            padding-top: 25vh;            
        }
    }

    .mx-auto {
        padding: 4rem 0;
        background-color: rgba(0,0,0,.7);
        img {
            width: 50%;
        }
    }
}

.icon-img {
    width: 2.5rem;
    padding-right: 1rem;
}

.site-contact a {
    color: $primary-color;
}