<section class="site-about-header" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <div>
              <img src="{{ .Site.Params.about.image }}" alt="image" style="width: 100%">
            </div>
          </div>
          <div class="site-about-description">
            <p>
                {{ .Site.Params.about.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 text-center">
      <iframe height="450" style="width:100%;overflow:hidden;background:transparent;" src="https://www.youtube.com/embed/S-xse9jsb8I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 text-center">
      <iframe height="450" style="width:100%;overflow:hidden;background:transparent;" src="https://www.youtube.com/embed/xOLByp8T24o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
</section>
<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Site.Params.about.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range .Site.Params.about.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</section>